.bg-img {
    /* The image used */
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/814/299/non_2x/geometric-shapes-of-dark-blue-colors-in-memphis-design-style-vector.jpg");
  
    /* Control the height of the image */
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }